@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic);

@font-face {
    font-family: "My Custom Font";
    src: url(fonts/Comic_CAT.otf) format("truetype");
}

p.customfont {
    font-family: "My Custom Font", Verdana, Tahoma;
}

body {
    margin: 0;
    background: linear-gradient(rgba(19, 21, 44, 0.75), rgba(19, 21, 44, 0.75)), url(backgrounds/tavern.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(2px);
    scrollbar-width: thin;
    scrollbar-color: gray #191b31;

}

.mes_text i {
    color: grey !important;
}

.mes_text em {
    color: grey !important;
}

.mes_text p {
    margin-top: 0;
    margin-bottom: 16px;
}

.mes_text strong {
    font-weight: bold;
    color: grey !important;
}

.mes_text h2 {
    font-weight: bold;
    color: rgb(229, 224, 216);
}

.mes_text h1 {
    font-weight: bold;
    color: rgb(229, 224, 216);
}

code {
    background-color: #a8a8a8;
    padding: 5px;
    font-family: Consolas, monospace;
    color: #333;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#bg1 {
    background-image: linear-gradient(rgba(19, 21, 44, 0.75), rgba(19, 21, 44, 0.75)), url(backgrounds/tavern.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(2px);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}

#bg2 {
    background: linear-gradient(rgba(19, 21, 44, 0.75), rgba(19, 21, 44, 0.75)), url(backgrounds/tavern.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(2px);
    background-size: cover;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    opacity: 0.0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#sheld {
    display: grid;
    grid-template-rows: auto 145px;
    background: #191b3133;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    /* border-right: 0.1px solid gray; */
    /* border-left: 0.1px solid gray; */
    /* box-shadow: 0 0 2px rgba(200,200,200,0.1); */
}

#chat {
    scrollbar-width: thin;
    overflow: hidden;
    overflow-y: scroll;
    background: #191b3100;
}

::-webkit-scrollbar {
    width: .60em;
    /* background-color: blue; */
}

::-webkit-scrollbar-track {
    background-color: #191b31;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 1px;
    box-shadow: inset 0.05em 0.05em 0 rgba(0, 0, 0, 0.1), inset 0 -0.05em 0 rgba(0, 0, 0, 0.07);
}

#form_sheld {
    box-shadow: 0 0 2px rgba(200, 200, 200, 0.1);
    white-space: nowrap;
    background: #191b31A0;
}

#send_form {
    display: grid;
    grid-template-columns: 35px auto 60px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#send_textarea {
    /* width:100%;  */
    font-size: 11pt;
    height: 89px;
    resize: none;
    display: inline-block;
    background-color: #13152c;
    outline: none !important;
    border: 0 solid grey;
    box-shadow: 0 0 2px rgba(200, 200, 200, 0.5);
    padding: 10px;
    color: #e6e6e6;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 10px;
}

#send_but_sheld {
    /* display:inline-block; */
    /* height: 100%; */
    /* margin-left: 17px; */
    /* background: blue; */

}

#send_but {
    /* visibility: visible; */
    width: 100%;
    margin: 0 auto;
    margin-left: 4px;
    display: block;
    height: 100%;
    background: url('img/send3.png') no-repeat top left;
    background-size: 26px auto;
    background-position: center center;
    outline: none;
    border: none;
    cursor: pointer;
}

#loading_mes {
    display: none;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-left: 2px;
    /* visibility: collapse; */
    background: url('img/load.svg') no-repeat top left;
    background-size: 45px 45px;
    background-position: center center;
}

#options_button {
    margin-top: 0;
    cursor: pointer;
    /* opacity: 0.5; */
    display: block;
    width: 40px;
    height: 40px;
    background-image: url('img/options2.png');
    background-size: contain;
    background-repeat: no-repeat;

    /* background-size: 20px; */
}

#options {
    border-radius: 5px;
    opacity: 0.0;
    display: none;
    width: 200px;
    height: 100px;
    bottom: 96px;
    position: relative;
    z-index: 1990;
}

.options-content {
    overflow: hidden;
    display: block;
    position: absolute;
    background-color: #191b31F3;
    min-width: 205px;
    z-index: 1;
    /* bottom: 1px; */
}

/* Ссылки внутри выпадающего блока */
.options-content hr {
    margin: 0;
    padding: 0;
    border-top: 1px solid #ffffff11;
}

.nav hr {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

.options-content a {
    color: #ffffff55;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.options-content img {
    opacity: 0.5;
    margin-right: 5px;
}

/* Изменяем цвет ссылки при наведении */
.options-content a:hover {
    background-color: #ffffff05
}


.mes {
    display: grid;
    grid-template-columns: fit-content(60px) 60px auto;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(200, 200, 200, 0.1);
    padding: 4px;
    background: #191b31CC;
    /* box-shadow: 0 0 2px rgba(200,200,200,0.5); */

    /* display: inline-block; */
    vertical-align: top;
    width: 100%;
    /* height:60px; */
    /* background: red; */
    /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif; */
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: rgb(229, 224, 216);
    font-size: 18px;
    /* background: blue; */
    margin-bottom: 26px;
}

.avatar {
    /* box-shadow: 0 0 2px rgba(200,200,200,0.5); */
    /* background: #13152c; */
    width: 80px;
    height: 120px;
    border-style: none;
    padding: 3px;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px;
}

.mes_block {

    padding-top: 4px;
    padding-left: 35px;
}

.ch_name {
    font-weight: bolder;
}

audio{
    opacity: 0.2;
}

.mes_text {
    font-weight: lighter;
    padding-top: 3px;
    margin-bottom: 10px;
    padding-right: 10px;
    max-width: 720px;
    word-wrap: break-word;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

.mes_text::after {
    content: "▋";
    animation: blink 1s steps(1) infinite;
    opacity: 0.7;
    display: none;
}

@keyframes blink {
    60% {
        visibility: hidden;
    }
}

br {
    display: block;
    margin: 3px 0;
}

textarea {
    width: 100%;
    font-size: 11pt;
    height: 400px;
    resize: none;
    display: block;
    background-color: #13152c;
    outline: none !important;
    border: 0 solid grey;
    box-shadow: 0 0 2px rgba(200, 200, 200, 0.5);
    padding: 10px;
    color: #cacaca;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 10px;
}

#rm_ch_create_block textarea {
    font-size: 11pt;
}

#description_textarea {
    width: 92%;
    height: 200px;
    margin-top: 0;
}

#character_name_pole {

    width: 92%;
}

#firstmessage_textarea {
    width: 92%;
    height: 140px;
    margin-top: 0;
}

.text_pole {

    border: 0 solid grey;
    box-shadow: 0 0 2px rgba(200, 200, 200, 0.5);
    background-color: #13152c;
    margin-left: 10px;
    padding: 10px;
    color: #ffffffaa;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    size: 10px;
    font-size: 11pt;
    padding: 7px;
}


.right_menu {
    max-height: 86%;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}

.right_menu h3 {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.right_menu h4 {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-bottom: 1px;
}

.right_menu h5 {
    color: #757575;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-bottom: 5px;
}

.right_menu input {
    margin-bottom: 15px;
}

input {
    margin: 15px;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

input::file-selector-button {
    font-weight: bold;
    color: #fff;
    padding: 0.5em;
    border: thin solid rgba(200, 200, 200, 0.2);
    border-radius: 3px;
    background-color: #191b31;
    cursor: pointer;
}

#avatar_url_confirm, input[type=submit] {
    font-weight: bold;
    color: #fff;
    padding: 0.5em;
    border: thin solid rgba(200, 200, 200, 0.2);
    border-radius: 3px;
    background-color: #191b31;
}

input[type=button] {
    font-weight: bold;
    color: #fff;
    padding: 0.5em;
    border: thin solid rgba(200, 200, 200, 0.2);
    border-radius: 3px;
    background-color: #191b31;
}

.right_menu_button {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 3px;
}

#character_import_button {
    cursor: pointer;
    display: inline-block;
    margin-left: 15px;
    margin-top: 6px;
}

#character_import_button h2 {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 17px;
    color: rgb(188, 193, 200, 0.5);
}

.right_menu_button:active {
    color: red;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.05);
}

#rm_ch_create_block {
    display: none;
}

#rm_api_block {
    display: none;
    padding-bottom: 5px;
}

#api_url_text {
    margin-right: 4px;
}

#api_button {
    cursor: pointer;
    color: #ffffffaa;
}

#api_button_novel {
    cursor: pointer;
    color: #ffffffaa;
}

#api_loading {
    width: 25px;
    height: 25px;
    display: none;

}

#api_loading_novel {
    width: 25px;
    height: 25px;
    display: none;

}

#api_loading_ecila {
    width: 25px;
    height: 25px;
    display: none;
}

#rm_characters_block {
    display: block;
    /* visibility: hidden; */
}

.character_select {
    padding: 0;
    border-radius: 10px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 67px auto;
}

.character_select .avatar {
    height: 100px;
}

.character_select .ch_name {
    margin-left: 10px;
    margin-top: 5px;
}

.character_select:hover {
    background-color: #ffffff11;
}

#avatar_url_div {
    display: none;
}

#selected_chat_div {
    display: none;
}

#create_date_div {
    display: none;
}

#last_mes_div {
    display: none;
}

#rm_button_selected_ch {

}

#bg_menu {
    margin-top: 5px;
    margin-left: 2px;
    cursor: pointer;
    position: absolute;
    z-index: 2050;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#site_logo {
    opacity: 0.4;
    display: inline-block;
    width: 130px;
    height: 20px;
    vertical-align: top;
    margin-left: 1px;
}

#bg_menu_button {
    display: inline-block;
    opacity: 0.4;
    /* transition: 0.5s */
    cursor: pointer;
    width: 20px;
    /* background: #191b3188; */
    text-align: center;
    height: 20px;
    color: #ffffff88;

}

#bg_menu_button img {
    width: 20px;
    height: 20px;
    margin-bottom: 6px;
}

#bg_menu_content {
    margin-top: 0;
    margin-left: 6px;
    opacity: 0.0;
    /* padding-top: 10px; */
    cursor: auto;
    display: block;
    width: 122px; /* 114px; */
    height: 0;
    background: #191b3100;
    overflow: hidden;
    overflow-y: hidden;

    scrollbar-width: thin;
    scrollbar-color: #ffffff11 #191b3111;
}

#bg_menu_content::-webkit-scrollbar-track {
    background-color: #191b3111;
}

#bg_menu_content::-webkit-scrollbar-thumb {
    background: #ffffff11;
    border-radius: 1px;
    box-shadow: inset 0.05em 0.05em 0 rgba(0, 0, 0, 0.1), inset 0 -0.05em 0 rgba(0, 0, 0, 0.07);
}

.bg_example {
    /* box-shadow: 0 0 2px rgba(200,200,200,0.5); */
    /* background: #13152c; */
    width: 103px;
    height: 83px;
    border-style: none;
    padding: 6px;
    padding-bottom: 20px;
    position: relative;
    margin-left: 3px;
}

.bg_example_img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px;
}

.bg_example_cross {
    width: 12px;
    height: 12px;
    position: absolute;
    float: right;
    right: 10px;
    top: 10px;
    cursor: pointer;
    opacity: 0.4;
}

.bg_example_but_load {
    margin-left: 3px;
    /* box-shadow: 0 0 2px rgba(200,200,200,0.5); */
    /* background: #13152c; */
    width: 103px;
    height: 83px;
    border-style: none;
    padding: 6px;
    padding-bottom: 20px;

}

.bg_example_but_load img {
    cursor: pointer;
    width: 91px;
    height: 57px;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px;
    opacity: 0.1;
}

#add_bg_button {
    margin-bottom: 2px;
}

.avatar_div {
    margin-top: 16px;
}

.avatar_div .avatar {
    margin-left: 4px;
    display: inline-block;
}

#add_avatar_button {
    vertical-align: top;
    display: inline-block;
    margin-top: 52px;
}

#description_div {
    margin-top: 6px;

}

#first_message_div, #character_voice_div, #character_voice_third_person_div {
    margin-top: 20px;
}

#advanced_div {
    margin-top: 20px;
    cursor: pointer;
}

#create_button {
    opacity: 0.8;
    margin-left: 9px;
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
}

#rm_info_block {
    display: none;
    width: 100%;
    height: 80%;
    justify-content: center;
    flex-direction: column;

}

#rm_info_panel {
    font-size: 20px;
    display: block;
    text-align: center;
}

#rm_info_button {
    width: 100px;
    margin-top: 10px;
    font-size: 20px;
    display: block;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#rm_info_avatar {
    width: 69px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#reset_chat_button {
    opacity: 0.51; /* 0.5 */
    cursor: pointer;
    display: block;
    float: right;
    margin-top: 25px;
    margin-right: 10px;
    color: #ffffff68; /* 66 */
}

#delete_button {
    opacity: 0.51; /* 0.5 */
    cursor: pointer;
    display: block;
    float: right;
    margin-top: 25px;
    margin-right: 10px;
    color: #ffffff68; /* 66 */
}

#export_button {
    opacity: 0.51;
    cursor: pointer;
    display: block;
    float: right;
    margin-top: 25px;
    margin-right: 16px;
    color: #ffffff68;
}

#result_info {
    margin-left: 10px;
    size: 10px;
    color: #ffffff33;
}

.input-file {
    display: block;
}

.input-file-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 4px;
    background-color: #419152;
    line-height: 22px;
    height: 40px;
    width: 89px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
}

.input-file input[type=file] {
    /* position: absolute; */
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

#form_bg_download {
    margin-bottom: 2px;
}

/* Focus */
#colab_popup {

    width: 300px;
    height: 150px;
    position: absolute;
    z-index: 2060;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 36vh;
    /*box-shadow: 0 0 2px rgba(200,200,200,0.1);*/
    padding: 4px;
    background: #191b3100;
    border-radius: 10px;
}

#dialogue_popup {

    width: 300px;
    height: 150px;
    position: absolute;
    z-index: 2060;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 36vh;
    box-shadow: 0 0 2px rgba(200, 200, 200, 0.1);
    padding: 4px;
    background: #191b31CC;
    border-radius: 10px;
}

#dialogue_popup_ok {
    display: inline-block;
    margin-right: 20px;
    background-color: #791b31;
    cursor: pointer;
}

#dialogue_popup_cancel {
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}

#dialogue_del_mes {
    width: 300px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    padding: 4px;


}

#dialogue_del_mes_ok {

    display: inline-block;
    margin-right: 20px;
    background-color: #791b31;
    cursor: pointer;
}

#dialogue_del_mes_cancel {
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}

.menu_button {
    font-weight: bold;
    color: #fff;
    padding: 0.5em;
    border: thin solid rgba(200, 200, 200, 0.2);
    border-radius: 3px;
    background-color: #191b31;
}

#dialogue_del_mes .menu_button {
    font-weight: bold;
    font-size: 20px;
    min-width: 100px;
    min-height: 40px;
}

#shadow_popup {
    background-color: #00000066;
    display: none;
    opacity: 0.0;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2095;
}

#colab_shadow_popup {
    background-color: #00000066;
    display: none;
    opacity: 1.0;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2298;
}

#bgtest {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -100;
    background-color: red;
}


#online_status {
    opacity: 0.3;
    position: absolute;
    /* left: 4px; */
    bottom: 0;
    margin-left: 9px;
    margin-bottom: 15px;
}

#online_status_indicator {
    border-radius: 7px;
    width: 14px;
    height: 14px;
    background-color: red;
    display: inline-block;
}

#online_status_text {
    margin-left: 4px;
    display: inline-block;
}

#online_status2 {
    opacity: 0.5;
    margin-top: 2px;
    margin-left: 10px;
    margin-bottom: 30px;
}

#online_status_indicator2 {
    border-radius: 7px;
    width: 14px;
    height: 14px;
    background-color: red;
    display: inline-block;
}

#online_status_text2 {
    margin-left: 4px;
    display: inline-block;
}

#online_status3 {
    opacity: 0.5;
    margin-top: 2px;
    margin-left: 10px;
    margin-bottom: 30px;
}

#online_status_indicator3 {
    border-radius: 7px;
    width: 14px;
    height: 14px;
    background-color: red;
    display: inline-block;
}

#online_status_text3 {
    margin-left: 4px;
    display: inline-block;
}

.del_checkbox {
    display: none;
    opacity: 0.5;
    accent-color: #ffffff;
    /* background-color: green; */
    width: 20px;
    height: 20px;
}

#dialogue_del_mes {
    display: none;
}

.for_checkbox {
    display: block;
}

select {
    /* font-size: .9rem; */
    /* border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1); */
    color: #ffffff66;
    padding: 5px 10px;
    width: 95%;
    height: 34px;
    margin-left: 3px;
    background-color: rgba(255, 255, 255, 0.09);
    font-size: 15px;
    border: 0;
    outline: 0;
    box-shadow: 0 0 2px rgba(200, 200, 200, 0.5);
    margin-top: 5px;
    margin-bottom: 45px;
}

#title_api {
    margin-left: 3px;
}

#settings_perset {
    width: 284px;
    margin-left: 10px;
    margin-bottom: 35px;
    color: #ffffff9d;
    box-shadow: 0 0 2px rgba(200, 200, 200, 0.5);
    background-color: #13152c;
}

.option_select_right_menu {
    width: 284px;
    margin-left: 10px;
    margin-bottom: 35px;
    color: #ffffff9d;
    box-shadow: 0 0 2px rgba(200, 200, 200, 0.5);
    background-color: #13152c;
}

#user_avatar_block {
    margin-left: 6px;
    display: grid;
    grid-template-columns: auto auto auto;
}

#user_avatar_block .avatar {
    cursor: pointer;
    margin-bottom: 30px;
    width: 90px;
    height: 126px;
}

#user_avatar_block .avatar img {
    width: 90px;
    height: 126px;
}

#temp {
    margin-left: 10px;
    margin-bottom: 20px;
}

#temp_counter {
    margin-bottom: 0;
}

#amount_gen {
    margin-left: 10px;
    margin-bottom: 20px;
}

#amount_gen_counter {
    margin-bottom: 0;
}

#max_context {
    margin-left: 10px;
    margin-bottom: 20px;
}

#max_context_counter {
    margin-bottom: 0;
}

#range_block input {
    margin-left: 10px;
    margin-bottom: 20px;
}

#range_block_novel input {
    margin-left: 10px;
    margin-bottom: 20px;
}

input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 200px;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    /* background-image: linear-gradient(#ff4500, #ff4500); */
    background-size: 70% 100%;
    background-repeat: no-repeat;
}

#rm_api_block h4 {
    opacity: 0.85;
}

.nav h5 a {
    color: #936f4a;
}

.nav h5 a:hover {
    color: #998e6b;
}

.nav h4 a {
    color: #936f4a;
}

.nav h4 a:hover {
    color: #998e6b;
}

#tips_popup {

    width: 500px;
    height: 600px;
    position: absolute;
    z-index: 2060;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 15vh;
    box-shadow: 5px 5px 0 0 rgba(200, 200, 200, 0.1);
    padding: 4px;
    background: #191b31EE;
    border-radius: 10px;
}

#shadow_tips_popup {
    display: none;
    opacity: 0.0;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2055;
    background-color: #00000066;
}

.mes_edit {
    display: inline-block;
    float: right;
    /* right:8px; */
    cursor: pointer;
    margin-right: 4px;
    opacity: 0.07;
}

.mes_edit_done {
    display: none;
    float: right;
    right: 8px;
    cursor: pointer;
    margin-right: 15px;
    opacity: 0.5;
}

.mes_edit_done img {
    width: 23px;
    height: 23px;
}

.mes_edit_cancel {
    display: none;
    float: right;
    /* right:8px; */
    margin-right: 4px;
    cursor: pointer;
    opacity: 0.5;
}

.mes_edit_cancel img {
    width: 23px;
    height: 23px;
}

.mes_delete {
    display: inline-block;
    float: right;
    /* right:8px; */
    cursor: pointer;
    margin-right: 4px;
    opacity: 0.07;
}

.mes_delete_done {
    display: none;
    float: right;
    right: 8px;
    cursor: pointer;
    margin-right: 15px;
    opacity: 0.5;
}

.mes_delete_done img {
    width: 23px;
    height: 23px;
}

.mes_delete_cancel {
    display: none;
    float: right;
    /* right:8px; */
    margin-right: 4px;
    cursor: pointer;
    opacity: 0.5;
}

.mes_delete_cancel img {
    width: 23px;
    height: 23px;
}


.mes_continue {
    display: inline-block;
    float: right;
    /* right:8px; */
    cursor: pointer;
    margin-right: 4px;
    opacity: 0.07;
}

.mes_continue_done {
    display: none;
    float: right;
    right: 8px;
    cursor: pointer;
    margin-right: 15px;
    opacity: 0.5;
}

.speak_message {
    display: inline-block;
    float: right;
    cursor: pointer;
    margin-right: 4px;
    opacity: 0.07;
}

.speak_message img {
    width: 23px;
    height: 23px;
}

.copy_message {
    display: inline-block;
    float: right;
    cursor: pointer;
    margin-right: 4px;
    opacity: 0.07;
}

.copy_message img {
    width: 23px;
    height: 23px;
}

audio {
    display: none;
    height: 23px;
    float: right;
    margin-right: 15px;
}

.loading_message {
    display: none;
    float: right;
    right: 8px;
    cursor: pointer;
    margin-right: 15px;
    opacity: 0.5;
}

.loading_message img {
    width: 23px;
    height: 23px;
}

.mes_continue_done img {
    width: 23px;
    height: 23px;
}

.mes_continue_cancel {
    display: none;
    float: right;
    /* right:8px; */
    margin-right: 4px;
    cursor: pointer;
    opacity: 0.5;
}

.mes_continue_cancel img {
    width: 23px;
    height: 23px;
}

.mes_retry {
    display: inline-block;
    float: right;
    /* right:8px; */
    cursor: pointer;
    margin-right: 4px;
    opacity: 0.07;
}

.mes_retry_done {
    display: none;
    float: right;
    right: 8px;
    cursor: pointer;
    margin-right: 15px;
    opacity: 0.5;
}

.mes_retry_done img {
    width: 23px;
    height: 23px;
}

.mes_retry_cancel {
    display: none;
    float: right;
    /* right:8px; */
    margin-right: 4px;
    cursor: pointer;
    opacity: 0.5;
}

.mes_retry_cancel img {
    width: 23px;
    height: 23px;
}

.edit_textarea {
    padding: 0;
    margin: 0;
    border: none;
    border-color: transparent;
    outline: none;
    box-shadow: none;
    background-color: transparent;
}

#your_name {
    outline: none;
    /* box-shadow: 0 2px 0px rgba(255, 255, 255, 0.1); */
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.0);
    border: none;
    background: transparent;
    border: 0;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.12);
}

#your_name_button {
    opacity: 0.5;
    margin-left: 10px;
    cursor: pointer;
}

#form_change_name {
    margin-bottom: 15px;
}

.checkbox {
    display: block;
}

label.checkbox input[type="checkbox"] {
    display: none;
}

label.checkbox span {
    display: inline-block;
    border: 1px solid #BBBBBB33;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    background: rgba(19, 21, 44, 0.75);
    vertical-align: middle;
    margin: 0;
    position: relative;
    transition: width 0.1s, height 0.1s, margin 0.1s;

}

label.checkbox :checked + span {
    background: rgba(19, 21, 44, 0.75);
    width: 20px;
    height: 20px;
    margin: 0;
}

label.checkbox :checked + span:after {
    content: '\2714';
    font-size: 18px;
    position: absolute;
    top: -3px;
    left: 2px;
    color: #99a1a7;

}

#anchor_order {
    width: 284px;
    margin-left: 10px;
    margin-bottom: 15px;
    color: #ffffff9d;
    box-shadow: 0 0 2px rgba(200, 200, 200, 0.5);
    background-color: #13152c;
}

#anchor_checkbox {
    margin-left: 10px;
    float: left;
    display: grid;
    grid-template-rows: 30px auto;
    grid-template-columns: auto auto;
}


#shadow_character_popup {
    display: block;
    opacity: 1.0;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2058;
}

#popup_results {
    grid-template-rows: 50px 100px 100px 40px auto 45px 45px;
    max-width: 800px;
    height: 83vh;
    /* position: absolute;*/
    z-index: 2065;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    /* text-align: center; */
    margin-top: 0;
    box-shadow: 0 0 2px rgba(200, 200, 200, 0.1);
    padding: 4px;
    background: #191b31F5;
    border-radius: 1px;

    scrollbar-width: thin;
    overflow: hidden;
    overflow-y: scroll;
    background: #191b3100;
}

.mes_retry_option, .mes_continue_option {
    cursor: pointer;
}

#character_popup, #tutorial_popup {
    display: none;
    grid-template-rows: 50px 100px 100px 40px auto 45px 45px;
    max-width: 800px;
    height: 83vh;
    position: absolute;
    z-index: 2065;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    /* text-align: center; */
    margin-top: 0;
    box-shadow: 0 0 2px rgba(200, 200, 200, 0.1);
    padding: 4px;
    background: #191b31F5;
    border-radius: 1px;
}

#tutorial_popup h1 {
    color: #ffffff;
}

#character_popup h5 a {
    color: #936f4a;
}

#character_popup h5 a:hover {
    color: #998e6b;
}

#character_popup h4 a {
    color: #936f4a;
}

#character_popup h4 a:hover {
    color: #998e6b;
}

#character_popup h3 {
    /* margin-top: 0px; */
    margin-bottom: 0;
    margin-left: 0;
}

#character_popup h4 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

#character_popup h5 {
    margin-top: 0;
    margin-bottom: 3px;
    margin-left: 0;
    color: #757575;

}

#character_popup_text {
    margin-left: 36px;
}

#personality_div {
    margin-left: 36px;
    margin-top: 20px;
}

#personality_textarea {
    width: 92%;
    /* height: 65px; */
    margin-top: 0;
    margin-left: 0;
}

#scenario_div {
    padding-top: 10px;
    margin-left: 36px;
}

#mes_example_div {
    margin-left: 36px;
    max-height: 100%;
}

#scenario_pole {
    width: 92%;
    margin-left: 0;
}

#mes_example_textarea {
    margin-left: 36px;
    width: 88%;
    height: 100%;
    margin-top: 0;
}

#character_popup_ok {
    cursor: pointer;
    display: none; /* grid; */
    place-items: center;
    height: 40px;
    margin-top: 15px;
    margin-left: 36px; /* 36px;329px;/ */
    /* margin-right: auto; */
    width: 110px; /* 80px */
    text-align: center;
}

#shadow_select_chat_popup {
    display: none;
    opacity: 1.0;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2059;
    background-color: #00000066;
}

#select_chat_popup {
    display: block;
    grid-template-rows: 50px 100px 100px auto 45px;
    max-width: 450px;
    height: 440px;
    position: absolute;
    z-index: 2066;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    /* text-align: center; */
    margin-top: 21vh;
    box-shadow: 0 0 2px rgba(200, 200, 200, 0.1);
    padding: 4px;
    background: #191b31F0;
    border-radius: 5px;
}

#select_chat_popup a {
    color: #936f4a;
}

#select_chat_popup a:hover {
    color: #998e6b;
}

#chat_import_button a {
    color: #d5c9be;
}

#chat_import_button a:hover {
    color: #998e6b;
}

#export_div {
    cursor: pointer;
}

#load_select_chat_div {
    position: absolute;
    bottom: 154px;
    left: 174px;
}

#load_select_chat_div img {
    width: 80px;
    height: 80px;
}

#select_chat_div {

    margin-left: 5px;
    margin-top: 30px;
    scrollbar-width: thin;
    /* width: 900px; */
    /* height: 80%; */
    overflow: hidden;
    overflow-y: scroll;
    max-width: 430px;
    height: 350px;
}

#select_chat_div hr {
    margin: 0;
}

#chat_import_button {
    margin-top: 15px;
    margin-left: 13px;
    cursor: pointer;
}

.select_chat_block {
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: 26px auto;
}

.select_chat_block:hover {
    background-color: #ffffff07;
}

.select_chat_block[highlight] {
    background-color: #ffffff09; /* #c2b07a12; */
}

.select_chat_block .avatar {

    grid-row: span 2;
}

.select_chat_block_filename {
    opacity: 0.5;
}

.select_chat_block_mes {
    margin-right: 6px;
}

#advanced_div {
    font-size: 14px;
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: 92px 5px;
    /* background-image: url('img/book5.png'); */
    width: 92%;
    height: 40px;
    margin-left: 10px;
    font-weight: bold;
    color: #ffffffbb;
    padding: 0.5em;
    border: thin solid rgba(200, 200, 200, 0.2);
    border-radius: 3px;
    background-color: #191b3133;
    opacity: 1.0;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

#advanced_book_logo {
    width: 35px;
    height: 35px;
    display: inline-block;
    position: absolute;
    top: 19px;
}

#character_popup_text_h3 {
    display: inline-block;
    margin-left: 38px;
}

#export_character_div {
    display: grid;
    grid-template-columns: 340px auto;
}


/* css/style.css */


* {
    box-sizing: border-box;
}


html {
    font-size: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    color: rgb(229, 224, 216);
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    /* font: 1em 'Open Sans', sans-serif; */
    background-color: #f1f1f1;
}


main {
    max-width: 1024px;
    margin: 0 auto
}

article {
    margin: 0 1em;
    padding: 0 22px;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s;
}

header {
    margin: 0;
    padding: 0;
    text-align: center;
}

footer {
    font-size: 14px;
    text-align: center
}

p {
    margin-bottom: 16px;
}

hr {
    margin: 22px 0;
    height: 1px;
    border: 0;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h1,
h2 {
    margin-bottom: 22px;
    color: #191919;
    font-weight: 300;
}

h1 {
    font-size: 32px;
    line-height: 32px;
}

h2 {
    color: #565d66;
    font-size: 26px;
    line-height: 26px;
}

a {
    color: #006b05;
    text-decoration: none;
}

.btn {
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    -ms-border-radius: 10em;
    -o-border-radius: 10em;
    border-radius: 10em;
    border: 0;
    color: #fff !important;
    margin: 6px;
    white-space: normal !important;
    word-wrap: break-word;
    display: inline-block;
    line-height: 1.25;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.btn {
    -webkit-transition: box-shadow .2s ease-out;
    -moz-transition: box-shadow .2s ease-out;
    -ms-transition: box-shadow .2s ease-out;
    transition: box-shadow .2s ease-out;
}

.btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.btn-primary {
    border: 2px solid #2BBBAD;
    color: #00695c !important;
    background-color: transparent;
}

.btn-secondary {
    border: 2px solid #00C851;
    color: #007E33 !important;
    background-color: transparent;
}


/* Right nav */

.nav {
    width: 450px;
    min-width: 450px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    right: -450px;
    padding: 0 20px;
    -webkit-transition: right 0.14s ease-in-out 0.02s;
    -moz-transition: right 0.14s ease-in-out 0.02s;
    transition: right 0.14s ease-in-out 0.02s;

    background: #16a085;

    z-index: 2000;
    box-shadow: 0 0 2px rgba(200, 200, 200, 0.1);
    white-space: nowrap;
    background: #191b31A0;

}


.nav-toggle {
    border-radius: 5px;

    position: absolute;

    right: 450px;

    top: 1em;

    padding: 0.5em;

    background: inherit;

    color: #dadada;

    cursor: pointer;

    font-size: 1.2em;
    line-height: 1;

    z-index: 2001;

    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}


.nav-toggle:after {
    content: '\2630';
    text-decoration: none;
}


.nav-toggle:hover {
    color: #f4f4f4;
}


[id='nav-toggle'] {
    position: absolute;
    display: none;
}


[id='nav-toggle']:checked ~ .nav > .nav-toggle {
    left: auto;
    right: 2px;
    top: 1em;
}


[id='nav-toggle']:checked ~ .nav {
    right: 0;
    box-shadow: -4px 0 20px 0 rgba(0, 0, 0, 0.01);
    -moz-box-shadow: -4px 0 20px 0 rgba(0, 0, 0, 0.01);
    -webkit-box-shadow: -4px 0 20px 0 rgba(0, 0, 0, 0.01);
    overflow-y: auto;
}


[id='nav-toggle']:checked ~ main > article {
    -webkit-transform: translateX(-450px);
    -moz-transform: translateX(-450px);
    transform: translateX(-450px);
}


[id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
    content: '\2715';
}


body {
    -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
    to {
        padding: 0;
    }
}


@media screen and (min-width: 450px) {
    html,
    body {
        margin: 0;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 450px) {
    html,
    body {
        margin: 0;
        overflow-x: hidden;
    }

    .nav {
        width: 100%;
        box-shadow: none
    }
}


.nav h22 {
    width: 90%;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    text-shadow: rgba(255, 255, 255, .1) -1px -1px 1px, rgba(0, 0, 0, .5) 1px 1px 1px;
    font-size: 1.3em;
    line-height: 1.3em;
    opacity: 0;
    transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -webkit-transform: scale(0.1, 0.1);
    transform-origin: 0 0;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transition: opacity 0.8s, transform 0.8s;
    -ms-transition: opacity 0.8s, -ms-transform 0.8s;
    -moz-transition: opacity 0.8s, -moz-transform 0.8s;
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
}

.nav h22 a {
    color: #dadada;
    text-decoration: none;
    text-transform: uppercase;
}


[id='nav-toggle']:checked ~ .nav h22 {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}


.nav > ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav > ul > li {
    line-height: 2.5;
    opacity: 0;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
    -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
    -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
    transition: opacity .5s .1s, transform .5s .1s;
}

[id='nav-toggle']:checked ~ .nav > ul > li {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}


.nav > ul > li:nth-child(2) {
    -webkit-transition: opacity .5s .2s, -webkit-transform .5s .2s;
    transition: opacity .5s .2s, transform .5s .2s;
}

.nav > ul > li:nth-child(3) {
    -webkit-transition: opacity .5s .3s, -webkit-transform .5s .3s;
    transition: opacity .5s .3s, transform .5s .3s;
}

.nav > ul > li:nth-child(4) {
    -webkit-transition: opacity .5s .4s, -webkit-transform .5s .4s;
    transition: opacity .5s .4s, transform .5s .4s;
}

.nav > ul > li:nth-child(5) {
    -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
    transition: opacity .5s .5s, transform .5s .5s;
}

.nav > ul > li:nth-child(6) {
    -webkit-transition: opacity .5s .6s, -webkit-transform .5s .6s;
    transition: opacity .5s .6s, transform .5s .6s;
}

.nav > ul > li:nth-child(7) {
    -webkit-transition: opacity .5s .7s, -webkit-transform .5s .7s;
    transition: opacity .5s .7s, transform .5s .7s;
}


.nav > ul > li > a {
    display: inline-block;
    position: relative;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: #dadada;
    width: 100%;
    text-decoration: none;

    -webkit-transition: color .5s ease, padding .5s ease;
    -moz-transition: color .5s ease, padding .5s ease;
    transition: color .5s ease, padding .5s ease;
}


.nav > ul > li > a:hover,
.nav > ul > li > a:focus {
    color: white;
    padding-left: 15px;
}


.nav > ul > li > a:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}

.nav > ul > li > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #3bc1a0;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}


.nav > ul > li > a:hover:before {
    width: 0;
    background: #3bc1a0;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}

.nav > ul > li > a:hover:after {
    width: 0;
    background: transparent;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}

